@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome IdentityServer</h1>
    <ul class="text-left">
        <li>Register a new user</li>
        <li>Confirm new user by real email</li>
        <li>Reset a password</li>
        <li>Manage a user</li>
    </ul>
</div>
